<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothsto;AccountKey=dvvcYPJQq2SucAsOcigK9kDvjcOMbShO6uEHCMpD9QNbhru4YPBSG8m2tDRBwBf7ExVBjhZAi2YprlMN561a4Q==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>